* {box-sizing: border-box;}

header{

    height: 100px;

    width: 100%;

    background-color: black;
}

header img{

    width: 130px;

    height: 100px;

}

ul{

    float: right;

    margin-right: 40px;



}

header ul li{

    display: inline-block;

    margin: 0 8px;

    font-size: 20px;

    font-weight: 600;

    line-height: 80px;

}

header li a{

    color: white;

}

header li a:hover{

    color : red;

    transition: 5s;

}

#icon i{

    font-size: 40px;

    margin-top: 20px;

}

#icon{

    margin-right: 80px;

    float: right;

    line-height: 60px;

    cursor: pointer;

    color: white;

    display: none;

}

body {

    background-color: rgb(185, 185, 185);
    background-image: url(images/grand_cuisine.jpg);
    color:aliceblue;
    }


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

#recettes1,#recettes2,#recettes3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    border-radius: 10px;
    color: white;
}

.parent1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.parent2 h1 {
   color:white;
}

.parent2 h2 {
    color: aliceblue;
}

.parent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.r1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.r1 img {
    width: 460px;
    height: 500px;
    border-radius: 20px;
}

.r1 h1 {
    color: white;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 460px;
    justify-content: space-between;
    padding: 10px 0;
}

/*.ingr {
    width: 400px;
    margin: 10px;
    height: 600px;
}*/

.ingr {
display:flex;
flex-direction: row;
justify-content: space-between;
}

.ingr li {
   padding:0;
}

.ingr h1 {
    text-align: center;
    padding-left: 130px;
}

.steps {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    color: white;

}

.step {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.800);
    border-radius: 10px;
    justify-content: center;
    object-fit: cover;
}

.step img {
    width: 200px;
    height: 125px;
    border-radius: 10px;
}


#photo {
width: 100%;
margin: 0;
padding: 0;
/*height: 130px;/*
/*margin-left: 100px;*/
object-fit: cover;
}

#photo1 {
    width: 100%;
   margin: 0;
   padding: 0;
   object-fit: cover;
    /*width: 200px;
    height: 130px;
    margin-left: 150px;*/
}

#photo2 {
    width: 200px;
    height: 125px;
    margin-left: 70px;
}

/*#photo3 {
    width: 150px;
    height: 130px;
    margin-left: px;
}*/

#photo4 {
   /* width: 200px;
    height: 130px;
    margin-left: 100px;*/
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    margin:40px 0 0 0 ;
}

#photo5 {
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    /*width: 200px;
    height: 130px;
    margin-left: 100px;
    margin-top: none;*/
}

#photo6 {
    /*width: 200px;
    height: 130px;
    margin-left: 55px;*/
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

#photo7 {
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

#photo8 {
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

#photo9 {
    width: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

i {
    font-size: 15px;
    color:red;
}

i p {
    font-size: 13px;
}

.ingredients1 {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.ingredients1 p {
    font-size: 20px;
   font-weight: 400;
   color: white;
}


footer {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color:white;
    width: 100%;
    }

.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
}

.infos a {
    text-decoration: none;
    color: white;
}

.infos a:hover{
    text-decoration: none;
    color:red;
}



.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

i{
    font-size: 25px;
    margin: 0 10px 0 10px;
}

.icons a:hover{
    color: red;
}

footer p{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

h2 {
    color: white;
    font-size: 30px;
}

.P {
    width: 100%;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
}


@media screen and (min-width: 751px) and (max-width:950px) {
    header img{
        width: 130px;
        height: 100px;
    }

    header ul li {

        display: inline-block;

        margin: 0 8px;

        font-size: 16px;

        font-weight: 600;

        line-height: 80px;

    }

    .steps {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        color: white;
    
    }
    .step {
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.800);
        border-radius: 10px;
    }

    span {
        font-size: 30px;
        margin-bottom: 10px;
    }
    p {
        font-size: 20px;

    }

    .step img {
        width: 250px;
        height: 200px;
        border-radius: 10px;
        margin-right: 15px;
    }

    #photo0 {
        width: 30%;
        height: auto;
        border-radius: 10px;
        margin-right: 15px;
    }
    #photo {
        width: 30%;
        height: auto;
        border-radius: 10px;
        margin-right: 15px;
    }

    #photo1 {
        width: 30%;
        height: auto;
        border-radius: 10px;
        margin-right: 15px;
    }

    #photo4 {
        width: 30%;
        height: auto;
        border-radius: 10px;
        margin-right: 15px;
    }
    #photo6 {
        width: 30%;
        height: auto;
        border-radius: 10px;
        margin-right: 15px;
    }

    #photo7 {
        width: 30%;
        margin: 0;
        padding: 0;
        object-fit: cover;
    }
    #photo8 {
        width: 30%;
        margin: 0;
        padding: 0;
        object-fit: cover;
    }

    #photo9 {
            width: 30%;
            margin: 0;
            padding: 0;
            object-fit: cover;
        }
    


    .parent1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ingr {
      width: 450px;
    }

    .r1 img {
        width: 700px;
        height: 500px;
        border-radius: 20px;
    }

    .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 85%;
        justify-content: space-between;
        padding: 10px 0;
    }

    .ingredients1 {
        display: flex;
        flex-direction: column;
        width: 100%;
     
    }

    .ingredients1 p {
        font-size: 30px;
    }

    p {
        color:white;
        font-size: 20px;
    }


}
@media screen and (max-width: 751px) {  
    header{

        display: flex;

        flex-direction: row;

        width: 100%;

        height: 100px;

        background-color: black;

        justify-content: space-between;

    }

    header img {

        width: 150px;

        height: 100px;

    }

    #icon {

        display: block;

    }

    header ul {

        position: fixed;

        background: #2f3640;

        width: 100%;

        height: 500px;

        top: 80px;

        left: -100%;

        text-align: center;

        transition: all .5s;

    }

    header ul li {

        display:block;

        margin:50px 0;

        line-height: 30px;

    }

    header ul li a {

        margin: 20px;

        font-size: 20px;

        font-weight: 600;

        color: white;

    }

    header ul li a:hover{

        background-color: rgb(246, 244, 244);

    }

    header ul.show{

        left:0;

    }

    .steps {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        color: white;
        width: 90%;
    
    }
    .step {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.800);

    }

    span {
        font-size: 30px;
        margin-bottom: 10px;
    }
    p{
        font-size: 20px;
    }

    

    .step img {
        width: 300px;
        height: 300px;
        border-radius: 10px;
        margin-right: 15px;
    }

    #photo {
        width: 400px;
        height: 200px;
    }

    .parent1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ingr {
      width: 450px;
    }

    .r1 img {
        width: 98%;
        height: 500px;
        border-radius: 20px;
    }

    .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 85%;
        justify-content: space-between;
        padding: 10px 0;
    }

    .ingredients1 {
        display: flex;
        flex-direction: column;
        width: 100%;
     
    }

    .ingredients1 p {
        font-size: 20px;
    }

    #photo0 {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-right: 15px;
    }

    #photo {
        width: 100%;
        border-radius: 10px;
        margin-right: 15px;
    }

    p {
        font-size: 20px;
        color: white;
    }


}