 /*disktop*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: #e6e3e3;
    background-color:rgb(204, 201, 201);
}
header{
    height: 100px;
    width: 100%;
    background-color: black;
    
}
header img{
    width: 130px;
    height: 130px;
}
ul{
    float: right;
    margin-right: 40px;

}
li{
    display: inline-block;
    margin: 0 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 80px;
}
li a{
    color: white;
}
li a:hover{
    color : red;
    transition: 5s;
}
#icon i{ 
    font-size: 40px;
    margin-top: 20px;
}
#icon{
    margin-right: 80px;
    float: right;
    line-height: 60px;
    cursor: pointer;
    color: white;
    display: none;
}
.slider{
    width: 100%;
    height: 450px;
    display: flex;
    animation: animate 15s ease-in-out infinite;
    animation-duration: 30s;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
@keyframes animate {
    0%{
        background-image:url(images/Bœuf\ Bourguignon.png) ;
    }
    20%{
        background-image:url(images/Rôti\ de\ bœuf\ en\ croûte.png) ;
    }
    40%{
        background-image:url(images/soupe.jpg) ;
    }
    60%{
        background-image:url(images/couscous-viande.jpg) ;
    }
    80%{
        background-image:url(images/Chocolamandine.png) ;
    }
    100%{
        background-image:url(images/vigne.jfif) ;
    }
}
.menu{
    display: flex;
    flex-direction:column;  
}
#categorie1,#categorie2,#categorie3{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.recipes{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
    border-radius: 10px;
    background-color: rgb(0, 0, 0,0.8) 
}
.recipes img{
    width: 300px;
    height: 350px;
    border-radius: 10px 10px 0 0;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 2em;
    color: white;
}
h3{
    padding: 2px;
}
button{
    height: 30px;
    color: #ffffff;
    background-color: red;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: 16px;
}
.start{
    padding: 8px;
}
.video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    border: 1px solid  rgba(225, 225, 225, 0.563);;
    background-color: rgb(0, 0, 0,0.8);
}
.video h1{
    color: white;
}
footer{ 
    display: flex;
    flex-direction: column;
    background-color: #000;
    color:white;
    width: 100%;
}
.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3%; 
}
.infos a {
    text-decoration: none;
    color: white;
}
.infos a:hover{
    text-decoration: none;
    color:red;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
i{
    font-size: 25px;
    margin: 0 10px 0 10px;
}
.icons a:hover{
    color: red;
}
footer p{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

/* Tablette */
@media screen and (min-width: 751px) and (max-width:950px){
    header img{
        width: 130px;
        height: 130px;
    }
    li{
        display: inline-block;
        margin: 0 8px;
        font-size: 16px;
        font-weight: 600;
        line-height: 80px;
    } 
    #categorie1, #categorie2,#categorie3{
        display: flex;
        flex-wrap:wrap;
    }
    .recipes{
        width: 350px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: white;
        margin-top: 20px;
        border-radius: 10px;
        background-color: rgb(0, 0, 0,0.8) 
    }
    .recipes img{
        width:95%;
        height: 320px;
        border-radius: 10px 10px 0 0;
    }
    h3{
        font-size: 20px;
        margin: 10px;
    }
    .start{
        padding: 10px;
    }
    
}
/* Mobiles */
@media screen and (max-width: 750px){
    header{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        background-color: black;
        justify-content: space-between;
    }
    header img{
        width: 150px;
        height: 120px;
    }
    #icon{
        display: block;
    }
    ul{
        position: fixed;
        background: #2f3640;
        width: 100%;
        height: 500px;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    li{
        display:block;
        margin:50px 0;
        line-height: 30px;
    }
    li a{
        margin: 20px;
        font-size: 20px;
        font-weight: 600;
        color: white;
    }
    li a:hover{
        background-color: rgb(246, 244, 244);
    }
     header ul.show{
        left:0;
    }
    #categorie1,#categorie2,#categorie3{
        display: flex;
        flex-wrap:wrap;
    }
    .recipes{
        width: 90%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: white;
        border-radius: 10px;
        margin-bottom: 20px;
        background-color: rgb(0, 0, 0,0.8) 
    }
    .infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    h4{
        font-size: 15px;
    }
    i{
       font-size: 23px;

    }  
    .recipes img{
        width:90%;
        height: 320px;
        border-radius: 10px 10px 0 0;
    }
    .start{
        padding: 15px;
    }
    h3{
        margin-top: 10px;
    }
    h1{
        font-size: 20px;
    }
}
